body, div, button {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f393b8;
}
.foto img {
    border-radius: 170px;
}
.btn {
    background-color: #f56ca1;
}